html, body{
	width: 100%;
	height: 100%;
	font-family: 'Microsoft Yahei';
	font-size: 16px;
}
.header > .title{
	border-bottom: 3px solid #0089e0;
	padding-top: 15px;
	
}
.header > .title > h2{
	margin-left: 40px;	
}
.header > .title > #logOut{
	float: right;
	width: 100px;
	height: 30px;
	margin-top: -30px;
	margin-right: 100px;
	background: #0089e0;
	border-radius: 10% 10% 0 0;
	border: 0;
	color: #efefef;
	cursor: pointer;
}
.header > .title > #logOut:hover{
	color: #fff;
	background: #029afb;
}
.header:after{
	clear: both;
}
.param{
	text-align: center;
	height: 30px;
	line-height: 30px;
	background: #e3e3e3;
	padding: 5px 0;
}
.param > .param-child{
	float: left;
	width: 320px;
	font-size: 12px;
	color: #0089e0;
	margin: 0 auto;
}
.param > .param-child:after{
	clear: both;
}
.param > .param-child > input,
.param > .param-child > select{
	width: 240px;
	background: #fff;
}
.content{
	width: 100%;
	height: 40px;
	border-top: 1px solid #0080cc;
	border-bottom: 1px solid #0080cc;
}
.tabs > .tabs-button > li{
	float: left;
	width: 9%;
	height: 40px;
	font-size: 14px;
	text-align: center;
}
.tabs:after{
	content: "";
    display: table; /*采用此方法可以有效避免浏览器兼容问题*/
    clear: both;
}
/*.tabs > .tabs-button > li > a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #000;
}
.tabs > .tabs-button > li:hover a{
	background: #0080cc;
	color: #fff;
}
.tabs > .tabs-button > li > a.active{
	color: #fff;
	background: #0089e0;
}*/
/* 0709 test */
.tabs > .tabs-button > li > label{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	color: #000;
}
.tabs > .tabs-button > li:hover > label{
	background: #0080cc;
	color: #fff;
}
.tabs > .tabs-button > li > .tabs-radio:checked +label{
	color: #fff;
	background: #0089e0;
}
.tabs > .tabs-button > li > .tabs-radio{
	display: none;
}
.tabs > .tabs-button > li > .tabs-radio:checked ~.tabs-content{
	visibility: visible;
  	opacity: 1;
  	transform: scale(1);
}
.tabs > .tabs-button > li > .tabs-content{
	position: absolute;
	left: 0;
	top: 130px;
	bottom: 0;
  	visibility: hidden;
  	width: 100%;
  	opacity: 0;
  	transition: transform .5s, opacity .7s;
  	overflow: hidden;
}
.tabs-content > .tabs-content-left{
	width: 300px;
	height: 100%;
	border-right: 2px solid #d3d3d3;
}
.tabs-content > .tabs-content-left li{
	height: 22px;
	border-bottom: 1px solid #ddd;
}
.tabs-content > .tabs-content-left li > label{
	display: inline-block;
	width: 100%;
	height: 100%;
}
.tabs-content > .tabs-content-left  .userInfo{
	display: none;
}
.tabs-content > .tabs-content-left  .userInfo:checked +label{
	background: #ddd;
	color: #0089e0; 
}
.tabs-content > .tabs-content-left  .userInfo +label{
	background: #fff;
	color:  #000;
	cursor: pointer;
}
.tabs-content > .tabs-content-left  .userInfo +label:hover{
	background: #ddd;
	color: #0089e0;

}